doctype html
html
  head
    title Homebook
    meta(name='viewport',content='width=device-width, initial-scale=1')
    script(src='js/utils.js')
    script(src='js/getposts.js')
    script
      !=    'const server_host = \"' + serverurl + '\";' 
    script(src='js/main.js')
    link(rel='stylesheet',href='css/normalize.css')
    link(rel='stylesheet',href='css/basscss.css')
    link(rel='stylesheet',href='css/btns.css')
    link(rel='stylesheet',href='css/colors.css')
    link(rel='stylesheet',href='css/style.css')
  body
    div(class='main')
      div(class='header') Homebook
        span(class='header-button')
          = 'Logged in as ' + username
          form(method='POST',action='logout')
            button(type='submit') Logout
      div#new-post
        form(name='foo',method='POST',action='post')
          input#new-post-author(type='hidden',name='author',value=username)
          textarea#new-post-text(name='text',class='rounded')
          button#new-post-submit(type='submit',class='btn btn-s') Post
      div#posts