doctype html
html
  head
    title= sitename + ' - Login'
    meta(name='viewport',content='width=device-width, initial-scale=1')
    link(rel='stylesheet',href='css/normalize.css')
    link(rel='stylesheet',href='css/basscss.css')
    link(rel='stylesheet',href='css/btns.css')
    link(rel='stylesheet',href='css/style.css')
    script(src="js/utils.js")
    script
      !=    'const server_host = \"' + serverurl + '\";' 
    script(src="js/login.js")
  body
    div(class='main')
      if status == "failed"
        p Login failed, please try again
      div#login-as-existing
      form(method='POST',action='authenticate')
        button#login-button(type='submit',class='btn btn-s') Login as
        input#login-id(type='text',name='username')
        input#login-remember(type='checkbox',name='remember')
        | Remember me
