doctype html
html
  head
    title Homesocial - Login
    meta(name='viewport',content='width=device-width, initial-scale=1')
    link(rel='stylesheet',href='css/normalize.css')
    link(rel='stylesheet',href='css/basscss.css')
    link(rel='stylesheet',href='css/btns.css')
    link(rel='stylesheet',href='css/style.css')  
  body
    div(class='main')
      if status == "failed"
        p Login failed, please try again
      form(method='POST',action='authenticate')
        input(type='hidden',name='username',value='baba')
        button(type='submit',class='btn btn-s') Login as Baba
      form(method='POST',action='authenticate')
        button#login-button(type='submit',class='btn btn-s') Login as
        input#login-id(type='text',name='username')
